<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <style>
        .active {
            background-color: #ddd;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <h3 :title="title">{{title}}</h3>

        <course-add v-model="course" @add-course="addCourse"></course-add>
        <!-- <course-add :value="course" @input="course=$event" @add-course="addCourse"></course-add> -->
        
        <p>课程总数：{{total}}门</p>
        <course-list :courses="courses"></course-list>
    </div>


    <script>
        Vue.component('course-add',{
            // data(){
            //     return{
            //         course: ''
            //     }
            // },
            props:['value'],
            template:`
            <div>
                <input type="text" :value="value" @input="onInput" 
                @keydown.enter="addCourse" />
                <button @click="addCourse">新增课程</button>
            </div>
            `,
            methods:{
                addCourse(){
                    this.$emit('add-course');
                },
                onInput(e){
                    this.$emit('input',e.target.value);
                }
            }

        });
        Vue.component('course-list', {
            data() {
                return {
                    selectedCourse: ''
                }
            },
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            template: `
                    <div>
                        <!-- 条件渲染 -->               
                        <p v-if="courses.length == 0">没有任何课程信息</p>       
                        <!-- 列表渲染 -->      
                        <ul>               
                            <!-- class绑定 -->          
                            <li v-for="c in courses"  :class="{active: (selectedCourse === c)}"   @click="selectedCourse = c">{{c}}</li>       
                            <!-- style绑定 -->            
                            <!-- <li v-for="c in courses" :style="{backgroundColor: (selectedCourse === c)?'#ddd':'transparent'}"                    @click="selectedCourse = c">{{c}}</li> -->  
                        </ul> 
                    </div>
            `

        });
        const app = new Vue({
            el: '#app',
            data: {
                title: '在组件上使用v-model,实现双向绑定 ',
                courses: ['web全栈','web高级'],
                course: ''
            },
            methods: {
                addCourse() {
                    this.courses.push(this.course);
                    this.course='';
                }
            },
            computed: {
                total() {
                    return this.courses.length;
                }
            },
        });

        function getCourses() {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve(['web全栈', 'web高级']);
                }, 2000);
            });
        }
    </script>
</body>

</html>